@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #7C3AED;
  --color-ink: #0B0B0F;
  --font-sans: 'Inter', ui-sans-serif, system-ui, Segoe UI, Roboto, Arial;
}
